.material-card.material-shadow-z1.draggable {
  display: block; /* switch to list view */
  width: auto;
}
.material-card.material-shadow-z1.draggable .image-wrapper {
  display: none; /* hide album arts */
}
.material-card.material-shadow-z1.draggable .details .sub-title {
  display: none; /* hide sub-title (e.g. Playlist or Auto-playlist) */
}
.cluster.material-cluster:first-of-type {
  display: none; /* hide recent playlists */
}
