.material-card-grid.cluster [data-type=pl] {
  display: block; /* switch to list view */
  width: auto !important;
}
.material-card-grid.cluster [data-type=pl] .image-wrapper {
  display: none; /* hide album arts */
}
.material-card-grid.cluster [data-type=pl] .details .sub-title {
  display: none; /* hide sub-title (e.g. Playlist or Auto-playlist) */
}
.cluster.material-cluster[data-type=wmp]:first-of-type {
  display: none; /* hide recent playlists */
}
